{% extends 'basesite.html.twig' %}

{% block body %}

    <div class="navtop">
        <div class="container-fluid">
            <div class="row">
                <div class="col-0 col-sm-0 col-md-2 col-lg-2 col-xl-2 logo" id="desc3">...</div>
                <div class="col-0 col-sm-0 col-md-2 col-lg-2 col-xl-2 logo" id="desc1">...</div>
                <div class="col-7 col-sm-7 col-md-4 col-lg-4 col-xl-4 logo"><img src="../images/logo.png" alt=""></div>
                <div class="col-0 col-sm-0 col-md-2 col-lg-2 col-xl-2 logo" id="desc2">...</div>
                <div class="col-5 col-sm-5 col-md-2 col-lg-2 col-xl-2 logo">...</div>
            </div>
        </div>
    </div>

{% endblock %}