<!-- Modal ajout match -->
<div
    class="modal fade"
    id="exampleModal80"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="simplebloc modalsize">
                <div class="simplebloctitle">
                    <span class="material-icons">
                                    sports_rugby
                                </span>&nbsp;ajouter un match
                </div>
                <div class="simplebloccontent freesize">
                    {{ form(matchform) }}
                </div>
            </div>
        </div>
    </div>
</div>