<!-- Modal infos site -->
<div
    class="modal fade"
    id="exampleModal4"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="simplebloc modalsize">
                <div class="simplebloctitle">
                    <span class="material-icons">
                        settings
                    </span>&nbsp;Informations du Club
                </div>
                <div class="simplebloccontent freesize">
                    {{ form(form) }}
                        <br>
                            <div style="font-size:10px">
                                <b>
                                    <i>Note : Il se peut que les modifications apparaissent seulement après une
                                        reconnexion a l'administration.</i>
                                </b>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>