<!-- Modal ajout note -->
<div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
<div class="simplebloc modalsize">
                <div class="simplebloctitle">
                    <span class="material-icons">
                        person
                    </span>&nbsp; AJOUTER UNE NOTE
                </div>
                <div class="simplebloccontent freesize">
                    {{ form(form) }}
                        </div>
                    </div>
        </div>
    </div>
</div>