<!-- Modal stop teams -->
<div
    class="modal fade"
    id="exampleModal60"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="simplebloc modalsize">
                <div class="simplebloctitle">
                    <span class="material-icons">
                        report
                    </span>&nbsp; Oups !
                </div>
                <div class="simplebloccontent freesize">

                Le nombre total d'équipes pour ce championnat est atteint.<br><br>
                    
<button type="button" class="btn btn-secondary" data-dismiss="modal">QUITTER</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>